@custom-selector :--heading :is(h1, h2, h3, h4, h5, h6);
@custom-selector :--text :is(h1, h2, h3, h4, h5, h6, span, p);
@custom-selector :--button :is(button, input[type='submit'], input[type='button']);
@custom-selector :--input :is(input, textarea);
@custom-selector :--input-text :is(input[type="text"], input[type="password"], input[type="email"], textarea);
@custom-selector :--submit :is(input[type="submit"], button[type="submit"]);
@custom-selector :--svg :global(svg);

%center {
    display: flex;
    justify-content: center;
    align-items: center;
}

%imageCover {
    object-fit: cover;
    width: 100%;
    height: 100%;
}

%transparency {
    background-color: rgb(0 0 0 / 40%);
    backdrop-filter: blur(5px);
}

%centerLayout {
    width: min(90vw, 1200px);
    margin: 0 auto;
}

%sectionHeader {
    @extend %center;

    color: var(--text);
    font-size: 3rem;
}
