body#light {
    --color1: hsl(0deg 0% 93%);
    --color2: hsl(0deg 0% 85%);
    --color3: hsl(0deg 0% 89%);
    --text: hsl(0deg 0% 19%);
    --text2: hsl(277deg 6% 55%);
    --icon: hsl(0deg 0% 19%);
    --white: hsl(0deg 0% 93%);
    --black: hsl(0deg 0% 19%);
    --highlight: hsl(172deg 83% 50%);
    --error: hsl(0deg 96% 61%);
    --radius: 0.5rem;
}
body,
body#dark {
    --color1: hsl(216deg 7% 14%);
    --color2: hsl(220deg 8% 23%);
    --color3: hsl(216deg 5% 19%);
    --text: hsl(0deg 0% 84%);
    --text2: hsl(277deg 6% 55%);
    --icon: hsl(0deg 0% 84%);
    --white: hsl(0deg 0% 93%);
    --black: hsl(0deg 0% 19%);
    --highlight: hsl(172deg 83% 50%);
    --error: hsl(0deg 96% 61%);
    --radius: 0.5rem;
}