@use "./reset";
@use "./themes";

#__next {
    $header: 60px;
    $vh: var(--vh, 100vh);
    background-color: var(--color1);
    height: $vh;
    width: 100vw;
    display: grid;
    place-content: center;
    grid-template:
        "header" $header
        "main" calc($vh - $header)
        / 100vw
    ;

    header {
        grid-area: header;
        display: flex;
        justify-content: space-between;
    }
    main {
        grid-area: main;
    }
}
